<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.springboot.hirui.mapper.ProductMapper">
	<resultMap id="BaseResultMap" type="com.springboot.hirui.pojo.ProductDO">
		<id column="id" property="id" />
		<result column="brand_id" jdbcType="BIGINT" property="brandId" />
		<result column="product_category_id" jdbcType="BIGINT" property="productCategoryId"/>
		<result column="feight_template_id" jdbcType="BIGINT" property="feightTemplateId" />
		<result column="product_attribute_category_id" jdbcType="BIGINT" property="productAttributeCategoryId" />
    	<result column="name" jdbcType="VARCHAR" property="name" />
    	<result column="pic" jdbcType="VARCHAR" property="pic" />
    	<result column="product_sn" jdbcType="VARCHAR" property="productSn" />
    	<result column="delete_status" jdbcType="INTEGER" property="deleteStatus" />
    	<result column="publish_status" jdbcType="INTEGER" property="publishStatus" />
    	<result column="new_status" jdbcType="INTEGER" property="newStatus" />
    	<result column="recommand_status" jdbcType="INTEGER" property="recommandStatus" />
    	<result column="verify_status" jdbcType="INTEGER" property="verifyStatus" />
    	<result column="sort" jdbcType="INTEGER" property="sort" />
    	<result column="sale" jdbcType="INTEGER" property="sale" />
    	<result column="price" jdbcType="DECIMAL" property="price" />
    	<result column="promotion_price" jdbcType="DECIMAL" property="promotionPrice" />
    	<result column="gift_growth" jdbcType="INTEGER" property="giftGrowth" />
    	<result column="gift_point" jdbcType="INTEGER" property="giftPoint" />
    	<result column="use_point_limit" jdbcType="INTEGER" property="usePointLimit" />
    	<result column="sub_title" jdbcType="VARCHAR" property="subTitle" />
    	<result column="original_price" jdbcType="DECIMAL" property="originalPrice" />
    	<result column="stock" jdbcType="INTEGER" property="stock" />
    	<result column="low_stock" jdbcType="INTEGER" property="lowStock" />
    	<result column="unit" jdbcType="VARCHAR" property="unit" />
    	<result column="weight" jdbcType="DECIMAL" property="weight" />
    	<result column="preview_status" jdbcType="INTEGER" property="previewStatus" />
    	<result column="service_ids" jdbcType="VARCHAR" property="serviceIds" />
    	<result column="keywords" jdbcType="VARCHAR" property="keywords" />
    	<result column="note" jdbcType="VARCHAR" property="note" />
    	<result column="album_pics" jdbcType="VARCHAR" property="albumPics" />
    	<result column="detail_title" jdbcType="VARCHAR" property="detailTitle" />
    	<result column="promotion_start_time" jdbcType="TIMESTAMP" property="promotionStartTime" />
    	<result column="promotion_end_time" jdbcType="TIMESTAMP" property="promotionEndTime" />
    	<result column="promotion_per_limit" jdbcType="INTEGER" property="promotionPerLimit" />
    	<result column="promotion_type" jdbcType="INTEGER" property="promotionType" />
    	<result column="brand_name" jdbcType="VARCHAR" property="brandName" />
    	<result column="product_category_name" jdbcType="VARCHAR" property="productCategoryName" />
	</resultMap>
	<resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.springboot.hirui.pojo.ProductDO">
    	<result column="description" jdbcType="LONGVARCHAR" property="description" />
    	<result column="detail_desc" jdbcType="LONGVARCHAR" property="detailDesc" />
    	<result column="detail_html" jdbcType="LONGVARCHAR" property="detailHtml" />
    <result column="detail_mobile_html" jdbcType="LONGVARCHAR" property="detailMobileHtml" />
  </resultMap>
  
  <insert id="insert" parameterType="com.springboot.hirui.pojo.ProductDO">
  	<selectKey keyProperty="id" order="AFTER" resultType="java.lang.Long">
  		SELECT LAST_INSERT_ID()
  	</selectKey>
  	insert into pms_product (brand_id, product_category_id, feight_template_id, 
      product_attribute_category_id, name, pic, 
      product_sn, delete_status, publish_status, 
      new_status, recommand_status, verify_status, 
      sort, sale, price, 
      promotion_price, gift_growth, gift_point, 
      use_point_limit, sub_title, original_price, 
      stock, low_stock, unit, 
      weight, preview_status, service_ids, 
      keywords, note, album_pics, 
      detail_title, promotion_start_time, promotion_end_time, 
      promotion_per_limit, promotion_type, brand_name, 
      product_category_name, description, detail_desc, 
      detail_html, detail_mobile_html)
    values (#{brandId,jdbcType=BIGINT}, #{productCategoryId,jdbcType=BIGINT}, #{feightTemplateId,jdbcType=BIGINT}, 
      #{productAttributeCategoryId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}, 
      #{productSn,jdbcType=VARCHAR}, #{deleteStatus,jdbcType=INTEGER}, #{publishStatus,jdbcType=INTEGER}, 
      #{newStatus,jdbcType=INTEGER}, #{recommandStatus,jdbcType=INTEGER}, #{verifyStatus,jdbcType=INTEGER}, 
      #{sort,jdbcType=INTEGER}, #{sale,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, 
      #{promotionPrice,jdbcType=DECIMAL}, #{giftGrowth,jdbcType=INTEGER}, #{giftPoint,jdbcType=INTEGER}, 
      #{usePointLimit,jdbcType=INTEGER}, #{subTitle,jdbcType=VARCHAR}, #{originalPrice,jdbcType=DECIMAL}, 
      #{stock,jdbcType=INTEGER}, #{lowStock,jdbcType=INTEGER}, #{unit,jdbcType=VARCHAR}, 
      #{weight,jdbcType=DECIMAL}, #{previewStatus,jdbcType=INTEGER}, #{serviceIds,jdbcType=VARCHAR}, 
      #{keywords,jdbcType=VARCHAR}, #{note,jdbcType=VARCHAR}, #{albumPics,jdbcType=VARCHAR}, 
      #{detailTitle,jdbcType=VARCHAR}, #{promotionStartTime,jdbcType=TIMESTAMP}, #{promotionEndTime,jdbcType=TIMESTAMP}, 
      #{promotionPerLimit,jdbcType=INTEGER}, #{promotionType,jdbcType=INTEGER}, #{brandName,jdbcType=VARCHAR}, 
      #{productCategoryName,jdbcType=VARCHAR}, #{description,jdbcType=LONGVARCHAR}, #{detailDesc,jdbcType=LONGVARCHAR}, 
      #{detailHtml,jdbcType=LONGVARCHAR}, #{detailMobileHtml,jdbcType=LONGVARCHAR})
  </insert>
  <select id="slectProducts" resultMap="ResultMapWithBLOBs">
  	select * from product
  </select>
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
</mapper>